body{
  background: #2196f3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2196f3 , #f44336); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2196f3 , #f44336); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
  margin-left: 20px;
	font-family: 'Paytone One';
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 100px;
}
.paytone{
  font-family: 'Paytone One';
  font-weight:normal
}

#credit{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
footer{
  font-family: Consolas;
  font-size: 20px;
}

.margin-top-3{
    margin-top:3%;
}
